.boxOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(19, 18, 18, 0.46);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    z-index: 1002;
}

.boxOneContOne {
    margin-left: 10vw;
    display: flex;
    align-items: center;
}

.boxOneContOne h3 {
    font-family: "Ysabeau", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 0.9vw, 1rem);
    color: white;
}

.boxOneContTwo {
    margin-right: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxOneContTwo a {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: clamp(0.9rem, 1vw, 1rem);
    color: white;
}

.phoneLink {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: clamp(0.8rem, 0.9vw, 1rem);
    color: #ffffff;
    text-decoration: none;
}

.phoneLink:hover {
    color: #B99D75;
    transition: color 0.3s ease;
}

.contactIcon {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
}

.headerBurgerBtn {
    display: none;
}

.headerBurger {
    display: none;
    margin-left: 5vw;
}

@media (max-width: 1000px) {
    .boxOne {
        justify-content: space-between;
        padding: 0 5vw;
    }

    .boxOneContOne {
        display: none;
    }

    .phoneHide {
        display: none;
    }

    .boxOneContTwo {
        margin-right: 0;
    }

    .headerBurger {
        display: flex;
        align-items: center;
        margin-left: 0;
    }
}
